/* Global styles */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Navbar styles */

nav {
    display: center;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #3473B9;
    padding: 10px;
    z-index: 1; 
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;

}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 40px;
    font-size: 15px;
    font-weight: normal;
}

nav a:hover{
        cursor: pointer;
    color: lightgray;
}
/* About Me section styles */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-right: 100px;
    padding-bottom: 10px;
}

.about img {
    border-radius: 50%;
    margin-right: 50px;
    max-width: 100%;
    transform: scale(1.3);
}

.about h2 {
    margin-top: 20px;
    text-decoration: underline;
     text-decoration-color: skyblue;
     margin-bottom: 10px;
}

.about h4 {
    font-size: 20px;
    margin-top: 0;
}

.about p {
    text-align: center;
    padding-right:480px ;
    padding-left:480px ;

}



/* Projects section styles */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f5f5f5;
    padding-top: 0;
}

.projects > div {
    margin: 0 5px;
}

.projects img {
    max-width: 100%;
}

/* Footer styles */

footer {
    background-color: #3473B9;
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: lighter;

}

footer p {
    margin: 0;
    font-weight: lighter;
}

/* Responsive styles */



    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }

 .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    background-color: #717B86;
    text-align: center;

}

.projects > div {
    width: 25%;
    margin: 0 10px;
    background-color: #343a40;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 1%;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;

}

.projects img {
    object-fit: cover;
}

.projects h3 {
    text-align: center;
    color: white;
}

.projects p {
    text-align: center;
    color: white;
    font-weight: normal;
}

